body{

  background-color: rgb(250, 250, 255);


}



.jumbotron{

    background-color: rgb(250, 250, 255);

}
.espa {

  margin-left: 200px;
}


.row img{

margin-left: 150px;

}


.jumbotron h1{

font-size: 75px;
text-align: center;

}



.row1 h2{

text-align: center;

}

.row1 p{

text-align: left;


}

.row1{

margin-left: 200px;

}

.botao button{

    margin-left: 350px;
    margin-top: 90px;
    text-decoration: none;

}

.row2 a{

text-decoration: none;

}


.row button{


    margin-top: 170px;


}


footer {

    background-color: rgb(1, 1, 1);
    width: 100%;
    margin-right: 300px;
    height : 70px;
    margin-top: 60px;

}


footer p {

    color: rgb(255, 245, 244);
    text-align: center;


}
